body{
  margin: 0;
  font-family: 'Mark Pro', Arial, sans-serif;
}
html, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /* font-size: 100%; */
  vertical-align: baseline;
  background: transparent;
}
::selection{
  color: #ffffff;
  background: #d1363a;
  text-shadow: none;
}

.bg-image, .login-bg-image {
  background-image: url(https://freight.cargo.site/w/4096/q/75/i/7212fd19194df171a4b429ef173b7fbd494cd8086f175e95bfb4de1d547a3eed/FGwR9c-XsAwZq-e.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
  font-family: 'FF Mark W05', sans-serif;
  content:"";
	/* position:fixed; */
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1;
	display:block;
}
main{
  grid-template-columns: repeat(12, 1fr);
  column-gap: 16px;
  margin: 0px 48px;
}
.create-account-div{
  margin-bottom: 1px;
  margin-left: 30px;
  margin-top: 200px;
  width: 200px;
  height: 200px;
  position: fixed;
}
.create-account {
  font-size: 32.44px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: inherit;
  color: rgb(255, 255, 255);
}
.signup-container, .login-container {
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150%;
  height: 100%;
  padding: 32px;
}
.signup-form, .login-form {
  background-color: #ffffff;
  padding: 40px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.signup-form h5 {
  margin-bottom: 20px;
  color: #000000; /* White text */
  text-align: center;
  font-size: 24px;
}
.login-text-center{
  text-align: center;
}
.signup-form input, .login-form input {
  width: 100%;
  align-items: center;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #283245;
  background-color: #ffffff; 
  color: #000000; 
  font-size: 16px;
}

.signup-form input::placeholder {
  color: #aeb3b8; /* Placeholder color */
}
button{
  display: block;
  margin:auto;
  width:50%;
  background-color: #FF4655;
  color: #FFFFFF;
  border: 2px solid #FF4655;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, transform 0.3s;
  font-family: 'Valorant', sans-serif; 
  border-radius: 4px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.form-card{
  padding: inherit;
}
a{
  text-decoration: none;
  color: rgb(74 74 74);
  display: flex;
  justify-content: center;
}
.video-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message-container {
  width: 50%;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
}
.messages {
  height: 400px;
  overflow-y: scroll;
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 20px;
}
.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}
.message.sent {
  background-color: #d1e7dd;
  text-align: right;
}
.message.received {
  background-color: #f8d7da;
  text-align: left;
}
.message-input {
  display: flex;
  gap: 10px;
}
.message-input input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.message-input button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #007bff;
  color: white;
}
.footer-container{
  overflow: hidden;
  background: black;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
.footer-links{
  padding-right: 8%;
  width: auto;
  float: left;
  padding-left: 40px;
  padding-right: 135px;
  color: #000000;
  font-family: Source Sans Pro, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color : white;
}
.footer-container h5{
    text-align: center;
    text-transform: uppercase;
}
.video-title{
  font-size: x-large;
  text-transform: capitalize;
}
.browse{
  text-align: center;
}
.video-container{
  padding-bottom: 40px;
  background: white;
  background-image: url(https://s3-eu-central-1.amazonaws.com/www-staging.esports.com/WP%20Media%20Folder%20-%20esports-com//var/app/current/web/app/uploads/2021/03/Riot-might-be-changing-up-EU-VCT-format.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin : 0
  /* border: #000000; */
}
.videos-bg-image{
 background-image: url(https://s3-eu-central-1.amazonaws.com/www-staging.esports.com/WP%20Media%20Folder%20-%20esports-com//var/app/current/web/app/uploads/2021/03/Riot-might-be-changing-up-EU-VCT-format.jpg);
 background-repeat: no-repeat;
 background-position: center center;
 background-attachment: fixed;
 background-size: cover;
 margin: 0;
}
