# Direct dependencies. Install with:
#   pip install -r requirements.txt
Flask>=2.3
Flask-Cors
Flask-Migrate
Flask-SQLAlchemy
Flask-Bcrypt
Flask-SocketIO
PyJWT
SQLAlchemy>=1.4,<2.1
python-dotenv
Faker
psycopg2-binary
gunicorn
